numpy
pandas
streamlit
pickle-mixin
seaborn
requests
matplotlib
pillow
plotly
scikit-learn
streamlit_option_menu
opencv-python-headless
pprintpp
streamlit-folium
folium
streamlit_extras
keras
tensorflow
